<html>


    <body>
        <head>
    
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
          <!DOCTYPE html>
    
      </head> 
    
    
    <style>
        #resp-table {
        width: 100%;
        display: table;
        }

        #resp-table-header{
        display: table-header-group;
        background-color: gray;
        font-weight: bold;
        font-size: 25px;
        }

        #resp-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
}


.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}



    </style>


<div id=“resp-table”>
    Responsive Table without Table tag
</div>

<div id=“resp-table-header”>

</div>

<div class=“table-header-cell”>
    Header 1
    </div>
    <div class=“table-header-cell”>
    Header 2
    </div>
    <div class=“table-header-cell”>
    Header 3
    </div>
    <div class=“table-header-cell”>
    Header 4
    </div>
    <div class=“table-header-cell”>
    Header 5
    </div>




    </body>
    </html>

    